@use "../../../shared/styles/styles.scss" as *;

.wrapper {
    width: 100%;
}

.dataListItemWrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-border-15;
    padding: 12px;
    gap: 8px;

    &:last-child {
        border-bottom: none;
    }
}

.userCard {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    gap: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
}

.id {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $color-text-5;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user {
    display: flex;
    gap: 8px;
}

.avatar {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $color-primary-extra-lite;
}

.name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    color: $color-text-2;

    &.bold {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
}

.body {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    color: $color-text-2;
}

.comment {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-text-2;
}

.footer {
    display: flex;
    height: 16px;
    gap: 8px;
}

.metric {
    display: flex;
    gap: 4px;
    color: $color-text-5;
    width: 60px;
}

.icon {
    height: 16px;
    width: 16px;
}

.metricText {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-text-blue-3;
}

.dateGender {
    display: flex;
    justify-content: space-between;
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $color-text-5;
}

.con {
    display: flex;
    flex-direction: column;

    &.gender {
        width: 102px;
    }
}

.value {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-text-2;
}
