// colors
$color-background: #e6f1fe;
$color-surface: #ffffff;

$color-primary: #006fee;

$color-text-0: #000000;
$color-text-1: #11181c;
$color-text-2: #27272a;
$color-text-3: #3f3f46;
$color-text-5: #52525b;
$color-text-7: #71717a;

$color-text-blue-0: #006fee;

$color-border-15: #e4e4e7;

//shadows
$shadow-1: 0px 1px 2px -1px #0000001a;
$shadow-2: 0px 1px 3px 0px #0000001a;
$shadows-12:
    0px 1px 2px -1px #0000001a,
    0px 1px 3px 0px #0000001a;

//radius
$radius-lg: 16px;

//spacing
$spacing-md: 8px;
$spacing-lg: 16px;
$spacing-xl: 20px;
$spacing-xxl: 40px;
