@use "../../shared/styles/styles.scss" as *;

.wrapper {
    background-color: $color-primary-extra-lite;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    cursor: pointer;

    &.mobile {
        background-color: transparent;
        padding: 0;
        flex-direction: row;
    }
}

.profile {
    display: flex;
    gap: 8px;
    height: 40px;

    &.mobile {
        height: 32px;
    }
}

.avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $color-surface;
    color: $color-primary;

    &.mobile {
        height: 32px;
        width: 32px;
    }
}

.info {
    height: 100%;
}

.name {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    color: $color-text-1;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.mobile {
        font-family: Inter;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
}

.username {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    color: $color-primary;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.mobile {
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
    }
}
