@use "../../../shared/styles/styles.scss" as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    &.mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        flex-direction: row;
        background-color: $color-background;
        z-index: 1000;
        height: 60px;
        display: flex;
        padding: 8px 0;
        gap: 5px;

        border-top: 1px solid $color-primary-20;
    }
}
