@use "../../../shared/styles/styles.scss" as *;

.editFormWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 0 4px;
}

.avatarWrapper {
    margin-bottom: 12px;
}

.button {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    background-color: $color-primary;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.avatar {
    height: 120px;
    width: 120px;
    background-color: $color-primary-extra-lite;
    border-radius: 50%;
}
