@use "../../styles/styles.scss" as *;

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    flex: 1;
}

.tableWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $color-surface;
    border-radius: 16px;
    min-height: 0;
    overflow-y: auto;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.tableHead {
    text-align: left;
    background-color: $color-table-head;
    border-bottom: 1px solid $color-border-14;
}

.tableHeadCell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 44px;
}

.tableHeadCellWrapper {
    display: flex;
    align-items: center;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
    color: $color-text-7;

    &.activeSort {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        vertical-align: middle;
        color: $color-text-1;
    }
}

.tableBody {
}

.row {
    border-bottom: 1px solid $color-border-14;
    height: 64px;

    &:last-child {
        border-bottom: none;
    }
}

.row td:first-child {
    padding-left: 24px;
}

.row td:last-child {
    padding-right: 0px;
}

.tableHeadRow th:first-child {
    padding-left: 24px;
}

.tableHeadRow th:last-child {
    padding-right: 0px;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
}

.cell {
    max-width: 200px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-right: 32px;

    &:last-child {
        margin-right: 0;
    }
}

.bottomPanelWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 20px;
}

.rowsPerPage {
    display: flex;
    gap: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: $color-text-5;
}

.select {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: $color-primary;
}

.pagination {
    display: flex;
    height: 40px;
    align-items: center;
    border: 2px solid $color-primary;
    border-radius: 14px;
    overflow: hidden;
}

.paginationButton {
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid $color-primary;
    cursor: pointer;
    color: $color-primary;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;

    &:first-child,
    &:last-child {
        width: 60px;
        border-right: none;
    }

    &:first-child {
        border-left: none;
    }

    &:hover {
        background-color: $color-primary-lite;
    }

    &.active {
        background-color: $color-primary;
        color: $color-surface;
    }
}

.currentPage {
}

.textLite {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $color-text-5;
}
.textMain {
    font-weight: 600;
    color: $color-text-2;
}
.textColor {
    font-weight: 400;
    color: $color-text-blue-3;
}
.textSpecial {
}
.textDefault {
    color: $color-text-2;
}

.textMultiline {
    overflow: visible;
    text-overflow: clip;
    white-space: normal;
}

.sortIcon {
    width: 16px;
    height: 16px;
    margin-left: 2px;
}

.paginationIcon {
    height: 20px;
    width: 20px;
}

.loading {
    color: $color-primary;
}

.button {
    position: relative;
    height: 40px;
    width: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 24px;
    width: 24px;
    color: $color-text-7;
}
