@use "../../../shared/styles/styles.scss" as *;

.wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px 60px 20px 60px;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
